* {
  box-sizing: border-box;
}

html * {
  font-family: Calisto MT !important;
}

body {
  background-image: url("scarlet sea.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: ;
}

@media only screen and (min-width: 768px) {
  .logo {
    display: none;
  }

  .overlay {
    display: none;
  }

  .butonmeniu {
    display: none;
  }

  .release-banner {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: ZrnicRg-Bold, sans-serif;
  }

  .bannerlogo {
    position: absolute;
    right: 100px;
    margin-top: auto;
  }

  .nav {
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    position: sticky;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */
    width: 100%;
    /* Full width */
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
  }

  .nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    transition: .25s;
  }

  .left {
    color: white;
    background: rgba(0, 0, 0, 0);
    text-align: center;
  }

  .banner{
    display:flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    background:rgba(0, 0, 0, 0.8);

  }

  .poza-1{
    width:400px;
    margin:50px;
    border-radius: 15px;
    content: url('battlecry.jpg');
    transition: 0.5s;
  }
  .poza-1:hover{
    cursor: pointer;

  }
  .poza-2{
    width:400px;
    margin:50px;
    border-radius: 15px;
    content: url('Untitled-1.png');
  }
.poza h2{
  color:white;
  text-align: center;
}

  .container
  {
    margin-top:100px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card{
    background: black;
    width:350px;
    margin:20px;
    border-radius: 15px;
    color: white;
  }
  .card-image{
    background-color:grey;
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
  }
  .pic1{
    background-image: url("empyrean.jpg");
  }
  .pic2{
    background-image: url("scarlet sea.jpg");
  }
  .card:hover
  {
    transform:scale(1.05);
    transition: .75s;
  }
  .card h2{
    padding: 10px;
  }
  .card p{
    padding: 10px;
    text-align: justify;
  }
  .card a{
    background-color: white;
    padding:15px 20px;
    display:block;
    text-align: center;
    margin:20px 50px;
    border-radius: 30px;
    text-decoration: none;
  }
  .card a:hover{
    cursor: pointer;
  }
}


@media only screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
  }


        overflow-x: hidden;
    .banner{
      display:flex;
      margin-top: 50px;
      justify-content: center;
      background:rgba(0, 0, 0, 0.8);
      border-radius: 15px;
      width: 100%;
      height: auto;
      flex-wrap: wrap;
    }

    .poza-1{
      width:250px;
      margin: auto;
      margin-top:30px;
      border-radius: 15px;
      content: url('battlecry.jpg');
      transition: 0.5s;
      height: auto;
    }
    .poza-1:hover{
      cursor: pointer;

    }
    .poza-2{
      width:250px;
      margin:auto;
      margin-top:30px;
      border-radius: 15px;
      content: url('Untitled-1.png');
      height: auto;
    }
  .poza h2{
    color:white;
    text-align: center;
  }

  .butonmeniu {
    position: fixed;
    color: white;
  }

  .logo {
    text-align: center;
    margin:auto;
  }

  .nav {
    display: none;
  }

  .left {
    color: white;
    background: rgba(0, 0, 0, 0);
    text-align: center;
  }
  .container
  {
    margin-top:100px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card{
    background: black;
    width:100%;
    margin:20px;
    border-radius: 15px;
    color: white;
    heigh:auto;
  }
  .card-image{
    background-color:grey;
    height: 400px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
  }
  .pic1{
    background-image: url("empyrean.jpg");
  }
  .pic2{
    background-image: url("scarlet sea.jpg");
  }
  .card:hover
  {
    transform:scale(1.05);
    transition: .75s;
  }
  .card h2{
    padding: 10px;
  }
  .card p{
    padding: 10px;
    text-align: justify;
  }
  .card a{
    background-color: white;
    padding:15px 20px;
    display:block;
    text-align: center;
    margin:20px 50px;
    border-radius: 30px;
    text-decoration: none;
  }

}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
